body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-stretch: expanded;
  padding: 0px;
  margin: 0px;
}

#nav {
  background-color: darkorchid;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  width: 100%;
  padding: 8px;
  z-index: 100;
}

div {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding-left: 1em;
  padding-right: 0.8em;
  padding-bottom: 0em;
  padding-top: 0em;
}

#Table_of_contents {
  background-color: rgba(169, 141, 236, 0.65);
  color: indigo;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 0.8px;
  font-weight: 500;
  font-variant: small-caps;
  padding: 1.2em;
  margin: 1em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  max-width: 450px;
  min-height: 300px;
}

#Table_of_contents > h1 {
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

.link_cont {
  font-size: 1.025em;
  margin: 0.2em;
}

.link_cont:hover {
  font-size: 1.05em;
  margin: 0.2em;
}

#Table_of_contents > ol {
  padding: 10px;
  margin: 0px;
}

div > p {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  color: darkorchid;
  margin: 0em;
}

figure {
  background-color: rgba(169, 141, 236, 0.65);
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  padding-left: 0.35em;
  padding-right: 0.35em;
  display: flex;
  justify-content: space-evenly;
  border-radius: 1em;
}

.button {
  color: blue;
  font-style: oblique;
  font-weight: 500;
}

a {
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}
