html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(251 251 251);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  font-stretch: expanded;
  overflow-x: hidden;
}

#nav {
  background-color: rgb(104, 28, 143);
  min-height: 0.5em;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  box-shadow: 0em 4px 1px 0px rgb(86, 19, 119);
  z-index: 100;
}

#nav > img {
  margin: 0;
  mix-blend-mode: screen;
}

#time {
  display: flex;
  place-items: center;
  color: rgb(220, 180, 240);
  margin-right: 1.75rem;
}

div {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0.5em;
  padding-left: 1.1em;
  padding-right: 0.8em;
  padding-bottom: 0em;
  padding-top: 0em;
}

#Table_of_contents {
  padding: 1.2em;
  margin: 1.25em;
  max-width: 450px;
  min-height: 210px;
  background-color: rgba(169, 141, 236, 0.65);
  color: indigo;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 0.8px;
  font-weight: 500;
  font-variant: small-caps;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
}

#Table_of_contents > h1 {
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

.link_cont {
  font-size: 1.025em;
  margin: 0.2em;
}

#Table_of_contents > ol {
  padding: 10px;
  margin: 0px;
}


h1,
h2,
h3,
h4 {
  color: darkorchid;
  margin: 0;
  padding: 0.25rem;
}

p {
  padding: 0.25rem;
}

figure {
  background-color: rgba(169, 141, 236, 0.5);
  padding-bottom: 0.2em;
  padding-top: 0.25em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin: 2.5em 1em;
  display: flex;
  justify-content: space-evenly;
  border-radius: 0.6em;
  min-width: fit-content;
  box-shadow: 0em 4px 5px 1px rgb(139, 101, 230);
}

figure > img {
  border-radius: 0.6em;
  margin: 0.2em;
}

.button {
  color: blue;
  font-style: oblique;
  font-weight: 500;
}

a {
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}
